1. EXPLAIN THE KEY FEATURES OF PYTHON THAT MAKE IT POPULAR CHOICE FOR PROGRAMMING .

   A. Python is popular for several reasons . its got a simple , readable syntax that makes it great for beginners . Python is also very versatile and easy to learn .

2. DESCRIBE THE ROLE OF PREDEFINED KEYWORDS WITH EXAMPLES IN PROGRAMMING.

   A.Python Keywords are some predefined and reserved words in Python that have special meanings. Keywords are used to define the syntax of the coding. The keyword cannot be used as an identifier, function, or variable name. All the keywords in Python are written in lowercase except True and False.
   Keywords in Python include: False, True, None, and, as, assert, async, await, def, del, elif, else, break, class, continue, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with and yield.

   HERE ARE SOME EXAMPLES :

In [3]:
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

In [27]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)
print(5 in [1, 2, 3, 4, 5])

False
True
False
True

3. compare and contrast  Mutable and Immutable objects in Python with examples . 

   A.  Mutable - A mutable data type is one whose values can be changed. for example: List, Dictionaries, and Set
       Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.For example: String and Tuples

HERE ARE SOME EXAMPLES:-

In [2]:
#create a list of student  Examples of Mutable Data Type

name = ['Vikram', 'Anshul', 'Amit', 'Suresh']

#add element in the existing list
name.append('Kamal')

print(name)

['Vikram', 'Anshul', 'Amit', 'Suresh', 'Kamal']

In [31]:
#example of immutable data type

my_string="my name is akanksha bhatt"

In [35]:
my_string[0]

'm'

In [37]:
tup1=(1,"a", True,2,"b",False)

In [39]:
type(tup1)

tuple

In [43]:
tup1[0]

1

In [45]:
tup1[3:6]

(2, 'b', False)

4. DIFFERENT TYPE OF OPERATORS IN PYTHON WITH THERE EXAMPLES.

Arithmetic operators (+	, -	, *	 ,  / ,%, **, //) , 
Assignment operators(=, += , -= , *=, /= , **= , %= ,//= ) ,
Comparison operators(==	, !=, >	, <, >=	, <= ) , 
Logical operators(& , or ) 

HERE ARE SOME EXAMPLES :-

In [48]:
#arithmetic operators (+, -	, *	 ,  /)

In [50]:
a=10
b=20

In [52]:
a+b

30

In [56]:
b-a

10

In [59]:
a*b

200

In [61]:
a/b

0.5

In [ ]:
#assignment operators

In [92]:
a = 5
b=10
a+=b
print(a)

15

In [96]:
a-=b
print(a)

-5

In [98]:
a*=b
print(a)

-50

In [102]:
a/=b
print(a)

-0.5

In [106]:
#comparison operators/ relational

In [108]:
a=60
b=35

In [110]:
a==b

False

In [114]:
a!=b

True

In [116]:
a<b

False

In [118]:
a>b

True

In [120]:
#logical operators

In [130]:
a = 12
b = 26
c = 4
  
if a > b and a > c:  
    print("Number a is larger")  
  
if b > a and b > c:  
    print("Number b is larger")  
  
if c > a and c > b:     
    print("Number c is larger")

Number b is larger

In [132]:
a = 10
b = -5
  
if a < 0 or b < 0: 
  print("Their product will be negative") 
else: 
  print("Their product will be positive")

Their product will be negative

5. TYPE CASTING IN PYTHON WITH EXAMPLES

   A:- Casting, also known as type conversion, is a process that converts a variable's data type into another data type. These conversions can be implicit (automatically interpreted) or explicit (using built-in functions).

   HERE ARE SOME EXAMPLES:-

In [144]:
#casting with integers

x = int(1) 
y = int(2.8) 
z = int("3") 
print(x)
print(y)
print(z)

1
2
3

In [146]:
#casting with float


x = float(1)     
y = float(2.8)  
z = float("3")  
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [148]:
#casting with string

x = str("s1") 
y = str(2)    
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

6. CONDITIONAL STATEMENT  IN PYTHON WITH EXAMPLES

   A:-Conditional Statements are statements in Python that provide a choice for the control flow based on a condition. It means that the control flow of the Python program will be decided based on the outcome of the condition.
* If Conditional Statement in Python
* If else Conditional Statements in Python
* If else Conditional Statements in Python
* If-elif-else Conditional Statements in Python


  HERE ARE SOME EXAMPLES:-

In [158]:
#if condition

In [160]:
if 10 > 5:
    print("10 greater than 5")

10 greater than 5

In [162]:
#If else Conditional Statements

In [164]:
x = 3
if x == 4:
    print("Yes")
else:
    print("No")

No

In [166]:
#Nested if..else Conditional Statement

In [168]:
letter = "A"

if letter == "B":
    print("letter is B")

else:

    if letter == "C":
        print("letter is C")

    else:

        if letter == "A":
            print("letter is A")

        else:
            print("letter isn't A, B and C")

letter is A

In [170]:
#If-elif-else Conditional Statement

In [172]:
letter = "A"

if letter == "B":
    print("letter is B")

elif letter == "C":
    print("letter is C")

elif letter == "A":
    print("letter is A")

else:
    print("letter isn't A, B or C")

letter is A

7. DIFFERENT TYPE OF LOOP WITH EXAMPLES .

   A:-Python has two primitive loop commands
      * while loops - The while Loop With the while loop we can execute a set of statements as long as a condition is true.
        
      * for loops - A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [183]:
#WHILE LOOP

#Exit the loop when i is 3:(BREAK STATEMENT)

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [185]:
#Continue to the next iteration if i is 3: (CONTINUE STATEMENTS)

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [187]:
#Print a message once the condition is false: (THE ELSE STATEMENT)

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [192]:
#FOR LOOP


#LOOPING THROUGH A STRING 
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [194]:
#Exit the loop when x is "banana": (BREAK STATEMENT)

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [196]:
#Do not print banana:(CONTINUE STATEMENT)

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [198]:
#Else in For Loop
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [200]:
#Print each adjective for every fruit: (NESTED LOOP)

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry